test/xmlTest/atttibuteTest_group.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xs:attributeGroup name="mygroupatttibute">
	   <xs:attribute name="name" type="xs:string" use="required"/>
	   <xs:attribute name="age"  type="xs:int" use="optional"/>
	</xs:attributeGroup> 
	
	<xs:element name="person">
	
	  <xs:complexType>
        <xs:attributeGroup ref="mygroupatttibute"/>
	  </xs:complexType>

	</xs:element>
	
	
</xs:schema>
