test/xmlTest/choice_minOccurs_maxOccurs_complexType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="mytype">
		<xs:choice minOccurs="1" maxOccurs="3">
			<xs:element name="hello" type="xs:string"/>
			<xs:element name="world" type="xs:integer"/>
		</xs:choice>
		<!--元素共出现的个数 参照choice_minOccurs_maxOccurs_complexType.xml -->
	</xs:complexType>
	<xs:element name="choiceTest" type="mytype"/>
</xs:schema>
